








.BodyCheck{
    width: 72.6%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-top: 305px;
    margin-left: 325px;
    text-align: center;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.019), rgba(0, 0, 0, 0.013)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.201), rgba(255, 255, 255, 0.201));
    transition: 0.5s ease-in-out; 
    padding: 10px;
}

.BodyCheckHeader{
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}

.header_left{
    display: flex;
    padding-left: 20px;
    width: 40%;
    // justify-content: space-between;
}

.header_left_info{
  
    color: white;
    font-family: Inter, sans-serif; 
    font-size: 24px;
    // font-weight: 400; 
    // line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 15px;
}

.header_left_img{
    width: 30px;
    height: 16px;
   margin-top: 7px;
   cursor: pointer;
}

.headerRight_info{
    width: 118px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    text-align: right; 
    text-decoration:underline;
    color: white;
    padding-right: 14px;
    cursor: pointer;
}

.BodyCheck_desc{
    width: 80%;
    // height: 80%;
    margin: auto;
    margin-left: 12%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.BodyCheck_list{
    width: 320px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}

.BodyCheck_title{
    font-family: "Inter", sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 1);
}

.BodyCheck_info{
    width: 100%;
    color:white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.BodyCheck_info_change_inp{
    width: 65%;
    height: 35px; 
   
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    padding: 4px 62px 4px 15px; 
    margin-top: 10px; 
    background-color: rgba(255, 255, 255, 0.1); 
    color: white;
    font-size: 18px;

}
.BodyCheck_info_change_inp:focus{
    outline :none

}

.change_btn{
    width: 100%;
    display: flex;
    justify-content: end  ;
    margin-top:30px;
    padding-bottom: 10px;
}
.change_btn_Cancel{
width: 127px; 
height: 47px; 

border-radius: 10px; 
padding: 4px 25px; 
border: none;
cursor: pointer;
background-color: rgba(255, 255, 255, 1); }

.change_btn_save{
width: 230px; 
height: 47px; 
border-radius: 10px; 
padding: 4px 25px; 
border: none;
margin-left: 10px;
background: rgba(32, 115, 219, 1);
cursor: pointer;
}

.change_btn_download{
width: 230px; 
height: 47px; 
border-radius: 10px; 
padding: 4px 25px; 
border: none;
margin-left: 10px;
background: rgba(32, 115, 219, 1);
cursor: pointer;
margin-top: 50px;
}

@media all and (max-width: 870px){
    .BodyCheck{
        margin-left: 13%;
        margin-top: 6%;
    }
    .BodyCheck_true{
        margin-left: 13%;
        margin-top: 6%;
    }
}

@media all and (max-width: 450px){
    
    .BodyCheckHeader{
        display: block;
    }
    .change_btn_add{
        margin-left: 0;
    }
    .change_btn{
        display: block;
    }
    .change_btn_save{
        width: 200px;
        margin-top: 10px;
     }
}

