.wrapper{
    width: 100%;
    height: 100%;
}

body{
    background: url('./asset/3123124\ copy\ copy\ 3.png');
}
*{
    margin: 0;
    padding: 0;

}
li{
    list-style-type: none;
}
.Personal{
width: 73.8%;
margin: auto;
border-radius: 10px;
border: 1px solid #000000;
margin-top: 110px;
margin-left: 320px;
text-align: center;
position: relative;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.019), rgba(0, 0, 0, 0.013)),
linear-gradient(0deg, rgba(255, 255, 255, 0.201), rgba(255, 255, 255, 0.201));
transition: 0.5s ease-in-out;


}

.Personal_Card{
    width: 200px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 46.93px;
  color: white;
  margin: 0;
  position: absolute;
  top: 37px;
  left: 26px;
}

.Personal_info{
    width: auto;
  height: 178px;
  padding-top: 45px;
  
}

.Personal_name{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 46.93px;
    color: white;
}

.Person_block{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding-inline: 45px;
    flex-wrap: wrap;
}

.block_desc{
    width: auto;
  height: auto;
  margin: 0px;
}
.block_list{
    width: 70%; 
    height: auto; 
    border-radius: 10px; 
    padding: 4px 62px; 
    margin-bottom: 24px;
    background: rgba(32, 115, 219, 1);
    color: white;
    font-family: Inter, sans-serif; 
    font-size: 24px;
    font-weight: 500;
    line-height: 47px; 
    letter-spacing: 0em;
    text-align: center; 
    cursor: pointer;
}


@media all and (max-width: 870px){
    .Personal{
        margin-left: 13%;
        margin-top: 6%;
    }
    .Personal_true{
        margin-left: 13%;
        margin-top: 6%;

    }
    .block_list{
        width: 80%;
        font-size: 17px;
    }
    .Personal_info{
        padding-top: 100px;
    }
}

@media all and (max-width: 450px){
    .Personal{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .PersonalHeader{
        display: block;
    }
    .change_btn_add{
        margin-left: 0;
    }
    .change_btn{
        display: block;
    }
    .change_btn_save{
       width: 200px;
       margin-top: 10px;
    }
    .Personal_desc_footer{
        margin-left: 0;
    }
    .Personal_info_change_inp{
        width: 130px;
    }
    .block_list{
        margin-left: 0;
        padding-left: 10px;
        
        
    }
    .block_desc{
        padding-left: 0;
    }
}